<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
holiday_June = input()
holiday_August = input()

if holiday_June != 'Вена' and holiday_August != 'Прага':
  print('НЕТ')
elif holiday_June == 'Вена' and holiday_August == 'Прага':
  print('НЕТ')
elif holiday_June == 'Вена' and holiday_August == 'Вена':
  print('НЕТ')
elif holiday_June == 'Прага' and holiday_August == 'Прага':
  print('НЕТ')
else:
  print('ДА')

Пенза
Прага
ДА

In [ ]:
from math import sqrt

a = float(input())
b = float(input())

c = sqrt(a ** 2 + b ** 2)
print(c)

0.3
0.4
0.5

In [ ]:
height = float(input())
weight = float(input())

print(f'{weight / ((height / 100) ** 2):.2f}')

168
60
21.26

In [ ]:
login = input()
r_email = input()

if '@' not in login and '@' in r_email:
  print('OK')
else:
  if '@' in login and '@' not in r_email:
    print('Некорректный логин')
    print('Некорректный адрес')
  elif '@' in login:
    print('Некорректный логин')
  elif '@' not in r_email:
    print('Некорректный адрес')

Ivan
Bondar
Некорректный адрес

In [ ]:
from math import floor
T_avg_daily = 0
count = 0
while T_avg_daily < 26:
  T_avg_daily = float(input())
  count += 1
weeks_number = floor((count - 1) / 7)
print(weeks_number)

22.2
26.6
1

In [ ]:
n = int(input())
n_factorial = 1
for i in range(n, 0, -1):
  n_factorial *= i

print(n_factorial)

4
24

In [ ]:
n = int(input())

Fibonacci = [1, 1]

for i in range(n - 2):
  Fibonacci.append(Fibonacci[-1] + Fibonacci[-2])

#print(Fibonacci)
print(Fibonacci[-1])

3
[1, 1, 2]
2

In [ ]:
entry_string = ''
count = 0
str_count = 0
str_counts = []
while entry_string != 'СТОП':
  entry_string = input().upper()
  str_count += 1
  if 'БАГ' in entry_string:
    count += 1
    str_counts.append(str_count)

if len(str_counts) > 0:
  print(count, str_counts[0])
else:
  print(count, '-1')

Что такое
баги?
И с чем их едят?
СТОП
1 2

In [ ]:
n_columns = int(input())
n_rows = int(input())

for i in range(n_rows):
  for j in range(n_columns):
    print((i + 1) * (j + 1), end=' ')
  print()

5
5
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
figure_height = int(input())
figure_width = int(input())
figure_symbol = input()

for i in range(1, figure_height + 1):
  for j in range(1, figure_width + 1):
    if i == 1 or i == figure_height or j == 1 or j == figure_width:
      print(figure_symbol, end='')
    else:
      print(' ', end='')
  print()

5
6
*
******
*    *
*    *
*    *
******