In [13]:
print('Hello', 'World!')
print('При', end='')
print('вет, мир!')

print('One','two','three', sep='---')

print('Example of \'quotes\' in print function.')

print('восход\t04:04\nзакат\t22:30')

print(r'File path: C:\\')

print('''
Example of several
lines print-out''')

Hello World!
Привет, мир!
One---two---three
Example of 'quotes' in print function.
восход	04:04
закат	22:30
File path: C:\\

Example of several
lines print-out

input()

In [20]:
#my_name = input('Enter your name: ')
my_name = 'Ivan'
print('Hello', my_name)
print(type(name))
print(id(name))

Hello Ivan
<class 'str'>
140007996337200

11259232

In [29]:
a = 100
print('id(a):', id(a))

b = a
print('id(b):', id(b))

b = 200
print('id(new b):', id(b))
print(id(100))

a is b

id(a): 11259232
id(b): 11259232
id(new b): 11262432
11259232

False

In [30]:
a = input()
b = input()
print(type(a))
print(type(b))

100
hundred
<class 'str'>
<class 'str'>

In [36]:
num = 100_000_000
my_float = 2.5
print(num, my_float)
print(type(num), type(my_float))

100000000 2.5
<class 'int'> <class 'float'>

In [2]:
num_exp = 1.5e2
type(num_exp)
print(num_exp)

150.0

In [4]:
my_tuple = 1,2,3
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3)