<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_lesson_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Collection type  Mutuable  Indexing  Uniqueness  Syntax
   List                 +         +         -       list() / []
   String               -         +         -       '' / ""
   Tuple                -         +         -       tuple() / ()
   Set                  +         -         +       set()
   Dict                 +         -         +       dict() / {}
'''

In [ ]:
# Dicts allow indexing by a key

# creating an empty dict
d = {}
d = dict()
print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
collections_map = {'mutable':['list', 'set', 'dict'], 'immutable':['tuple', 'frozenset']}
print(collections_map)
collections_map['immutable']

{'mutable': ['list', 'set', 'dict'], 'immutable': ['tuple', 'frozenset']}

['tuple', 'frozenset']

In [ ]:
collections_map.get('arbitrary', 'not in the dict') # info message if the specified key not found

'not in the dict'

In [ ]:
capitals = {'Russia':'Moscow', 'Ukraine':'Kiev', 'USA':'Washington'}
capitals

{'Russia': 'Moscow', 'USA': 'Washington', 'Ukraine': 'Kiev'}

In [ ]:
capitals['UK'] = 'London'
capitals

{'Russia': 'Moscow', 'UK': 'London', 'USA': 'Washington', 'Ukraine': 'Kiev'}

In [ ]:
del capitals['Russia']
capitals

{'UK': 'London', 'USA': 'Washington', 'Ukraine': 'Kiev'}

In [ ]:
capitals.update({'Russia':'Moscow'})
capitals

{'Russia': 'Moscow', 'UK': 'London', 'USA': 'Washington', 'Ukraine': 'Kiev'}

In [ ]:
outcast = capitals.pop('Russia')
outcast

'Moscow'

In [ ]:
capitals.pop('Russia', None) # no error thrown in case the key is not present

In [ ]:
# iterating through dictionary entries: via keys, values and pairs

for key in capitals:
  print(key)

Ukraine
USA
UK

In [ ]:
for value in capitals.values():
  print(value)

Kiev
Washington
London

In [ ]:
for key, value in capitals.items():
  print('{}: {}'.format(value, key)) # changing 'key-value' order

Moscow: Russia
Kiev: Ukraine
Washington: USA

In [ ]:
cities = {(55.7558, 37.6173): 'Moscow',
          (40.7128, 74.0060): 'New York',
          (28.6139, 77.2090): 'New Delhi'
          }
cities

{(28.6139, 77.209): 'New Delhi',
 (40.7128, 74.006): 'New York',
 (55.7558, 37.6173): 'Moscow'}

In [ ]:
coords = {}
for coord, city in cities.items():
  coords[city] = coord
print(coords)

{'Moscow': (55.7558, 37.6173), 'New York': (40.7128, 74.006), 'New Delhi': (28.6139, 77.209)}

In [ ]:
# OrderedDict

from collections import OrderedDict

ordered = OrderedDict()
for number in range(10):
  ordered[number] = str(number)
print(ordered)

# only keys
for key in ordered:
  print(key, end=' ')

OrderedDict([(0, '0'), (1, '1'), (2, '2'), (3, '3'), (4, '4'), (5, '5'), (6, '6'), (7, '7'), (8, '8'), (9, '9')])
0 1 2 3 4 5 6 7 8 9

In [ ]:
# find the most common words in the Python Zen

import this

zen = '''The Zen of Python, by Tim Peters
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!'''

zen_dict = {}
for word in zen.split():
  cleaned_word = word.strip('-*!,.').lower()
  if cleaned_word not in zen_dict:
    zen_dict[cleaned_word]  = 0
  zen_dict[cleaned_word] += 1
print(zen_dict)

from operator import itemgetter

zen_items = zen_dict.items()
word_count = sorted(zen_items, key=itemgetter(1), reverse=True)
print('\n', word_count[:5])

{'the': 6, 'zen': 1, 'of': 3, 'python': 1, 'by': 1, 'tim': 1, 'peters': 1, 'beautiful': 1, 'is': 10, 'better': 8, 'than': 8, 'ugly': 1, 'explicit': 1, 'implicit': 1, 'simple': 1, 'complex': 2, 'complicated': 1, 'flat': 1, 'nested': 1, 'sparse': 1, 'dense': 1, 'readability': 1, 'counts': 1, 'special': 2, 'cases': 1, "aren't": 1, 'enough': 1, 'to': 5, 'break': 1, 'rules': 1, 'although': 3, 'practicality': 1, 'beats': 1, 'purity': 1, 'errors': 1, 'should': 2, 'never': 3, 'pass': 1, 'silently': 1, 'unless': 2, 'explicitly': 1, 'silenced': 1, 'in': 1, 'face': 1, 'ambiguity': 1, 'refuse': 1, 'temptation': 1, 'guess': 1, 'there': 1, 'be': 3, 'one': 3, 'and': 1, 'preferably': 1, 'only': 1, 'obvious': 2, 'way': 2, 'do': 2, 'it': 2, 'that': 1, 'may': 2, 'not': 1, 'at': 1, 'first': 1, "you're": 1, 'dutch': 1, 'now': 2, 'often': 1, 'right': 1, 'if': 2, 'implementation': 2, 'hard': 1, 'explain': 2, "it's": 1, 'a': 2, 'bad': 1, 'idea': 3, 'easy': 1, 'good': 1, 'namespaces': 1, 'are': 1, 'honking': 1, 'great': 1, '': 1, "let's": 1, 'more': 1, 'those': 1}

 [('is', 10), ('better', 8), ('than', 8), ('the', 6), ('to', 5)]

In [ ]:
from collections import Counter # alternative way

cleaned_list = []
for word in zen.split():
  cleaned_list.append(word.strip('-*!,.').lower())

print(Counter(cleaned_list).most_common(5))

[('is', 10), ('better', 8), ('than', 8), ('the', 6), ('to', 5)]

In [ ]:
# 'sets' include only unique values - all duplicates are removed; values are unordered and can reprsent different elements: strings, numbers, etc.

animals = set() # to introduce an empty set
animals = {'cat', 'dog', 'fox', 'wolf'}
animals_diff = {'cat', 4, 'dog', 1, 'fox', 1, 3, 3}
print(animals)
print(animals_diff)
print(len(animals_diff))

{'cat', 'fox', 'dog', 'wolf'}
{1, 3, 4, 'cat', 'fox', 'dog'}
6

In [ ]:
for i in animals_diff:
  print(i, end=' ')

1 3 4 cat fox dog

In [ ]:
animals_diff.add('mule')
animals_diff.add(7)
print(animals_diff)
animals_diff.discard('cat')
print(animals_diff)
animals_diff.discard('cat') # if already absent no warning or error is thrown; unlike 'remove' method!
print(animals_diff)

{1, 3, 4, 7, 'dog', 'fox', 'mule'}
{1, 3, 4, 7, 'dog', 'fox', 'mule'}

In [ ]:
animals_diff.pop() # removes an arbitrary value and returns it

1

In [ ]:
animals_diff.clear() # clears a list entirely

In [ ]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 4, 7}

union = a.union(b) # remember that all duplicates are removed
union

{1, 2, 3, 4, 5, 7}

In [ ]:
intersection = a.intersection(b) # returns common elements in sets
intersection

{1, 2, 4}

In [ ]:
a >= b # sets comparison

False

In [ ]:
c = {1, 2, 3}
d = {1, 2, 3}
print(c == d)
print(c >= d)
print(d < c)

True
True
False

In [ ]:
# '*' operator (a star operator)

num_list = [1, 2, 5, 3, 4, 7]
num_list2 = [*num_list, 10, 4, 8]
num_list3 = [num_list, 10, 4, 8]
print(num_list2)
print(num_list3)

[1, 2, 5, 3, 4, 7, 10, 4, 8]
[[1, 2, 5, 3, 4, 7], 10, 4, 8]

In [ ]:
print(num_list)
print(*num_list)

[1, 2, 5, 3, 4, 7]
1 2 5 3 4 7

In [ ]:
data = {'year':'2002', 'month':'May','day':'1'}
print(data)
print('{year} - {month} - {day}'.format(**data))

{'year': '2002', 'month': 'May', 'day': '1'}
2002 - May - 1

In [ ]:
num = [1, 2, 3]
alph = ['a', 'b', 'c']
print(*num, *alph)

1 2 3 a b c