<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_test_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def bank_deposit_profit(amount, percent):
	return amount * percent // 100

In [7]:
n, p, m, k = int(input()), int(input()), int(input()), int(input())

if bank_deposit_profit(n, p) > bank_deposit_profit(m, k):
  print('1')
elif bank_deposit_profit(n, p) < bank_deposit_profit(m, k):
  print('2')
else:
  print('12')

423465
3
530520
11
2

In [31]:
def thirteenth_salary(percent, salary_list):
	return (sum(salary_list) // len(salary_list)) * percent // 100

percent = int(input())
salary_list = list(input().split())
for salary in range(len(salary_list)):
  salary_list[salary] = int(salary_list[salary])

print(thirteenth_salary(percent, salary_list))

70
98000 99000 96000 98000 95000 99000 97000 97000 97000 98000 100000 100000
68483

In [39]:
def is_female_working_age(age):
	return age >= 16 and age < 60

female_workers_ages_list = input().split()

count = 0
for age in female_workers_ages_list:
  if is_female_working_age(int(age)):
    count += 1
print(count)

52 6 63 14 50 26 57 48 16 63 54 90
7

In [45]:
def stimulating_percentage(experience):
  if experience >= 5 and experience < 10:
    percent = 5
  elif experience >= 10 and experience < 20:
    percent = 10
  elif experience >= 20 and experience < 30:
    percent = 15
  elif experience >= 30:
    percent = 20
  else:
    percent = 0
  return percent

experience_list = input().split()
salary_list = input().split()

percent_list = []
for experience in experience_list:
  percent_list.append(stimulating_percentage(int(experience)))
print(*percent_list)

for i in range(len(salary_list)):
  print(round(int(salary_list[i]) * (percent_list[i] / 100 + 1)), end=' ')

32 26 43 7 4 5
80000 60000 60000 110000 120000 70000
20 15 20 5 0 5
96000 69000 72000 115500 120000 73500

In [57]:
def arithmetic_progression(a, d, n):
  return a + d * (n - 1)

initial_price_of_lot = int(input())
price_change_step = int(input())
price_change_counter = int(input())

print(arithmetic_progression(initial_price_of_lot, price_change_step, price_change_counter) + price_change_step)

2600
50
8
3000