<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# a simple creation of a list
a = [0] * 10
print(a)

# a list generator
b = [0 for i in range(10)]
print(b)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [3]:
# and expression list generator
c = [i ** 2 for i in range(10)]
print(c)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
import random

d = [random.randint(1, 9) for i in range(10)]
d

[6, 4, 3, 6, 9, 4, 4, 1, 5, 2]

In [6]:
e = [input() for i in range(int(input()))]
e

5
1
2
3
4
5

['1', '2', '3', '4', '5']

In [7]:
square_list = []
for i in range(10):
  if i % 2 == 0:
    square_list.append(i ** 2)
square_list

[0, 4, 16, 36, 64]

In [8]:
# alternative
square_list = [i ** 2 for i in range(10) if i % 2 == 0]
square_list

[0, 4, 16, 36, 64]

In [12]:
# nested lists creation

# manual entry
a = [1, 2, 3], [4, 5, 6]
print(a)

# using nested loop
for i in range(len(a)):
  for j in range(len(a[i])):
    print(a[i][j], end=' ')
  print()

([1, 2, 3], [4, 5, 6])
1 2 3
4 5 6

In [13]:
for i in a:
  for j in i:
    print(j, end=' ')
  print()

1 2 3
4 5 6

In [14]:
for i in a:
  print(' '.join(list(map(str, i))))

1 2 3
4 5 6

In [15]:
num = [1, 2, 3, 4, 5]
squared = []
for i in num:
  squared.append(i ** 2)
squared

[1, 4, 9, 16, 25]

In [17]:
def square(num):
  return num ** 2

num = [1, 2, 3, 4, 5]
squared = list(map(square, num)) # here a map converts an iterator into a list; instead of a list there can be a tuple, for example
squared

[1, 4, 9, 16, 25]

In [18]:
a = [[0] * 10 for i in range(10)] # using a generator for a nested list creation
a

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [21]:
a = []
for i in range(3):
  a.append(list(map(int, input().split())))
a

1 2 3 4 5
6 7 8
9 10 11 12

[[1, 2, 3, 4, 5], [6, 7, 8], [9, 10, 11, 12]]

In [26]:
a = []
for i in range(3):
  row = input().split()
  for i in range(len(row)):
    row[i] = int(row[i])
  a.append(row)
a

1 2 3 4 5
6 7 8
9 10 11 12

[[1, 2, 3, 4, 5], [6, 7, 8], [9, 10, 11, 12]]

In [28]:
a = [list(map(int, input().split())) for i in range(3)]
a

1 2 3 4 5
6 7 8
9 10 11 12

[[1, 2, 3, 4, 5], [6, 7, 8], [9, 10, 11, 12]]

In [31]:
# f-strings
'normal string'
f'f-string'

name = 'Joy'
age = 20
print(f'Hey, I\'m {name}, {age} y.o.')

Hey, I'm Joy, 20 y.o.

In [37]:
x = 139
y = 7
print(f'{x} / {y} = {round(x / y)}')

139 / 7 = 20

In [36]:
print(f'Pi is {(22 / 7):.7f}')

Pi is 3.1428571