<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# loops
# while

n = int(input())
i = 1
while i <= n:
  print(i, end=' ')
  i += 1

10
1 2 3 4 5 6 7 8 9 10

In [7]:
# max & min

now = int(input())
now_max = now
while now != 0:
  if now > now_max:
    now_max = now
  now = int(input())
print(now_max)

2
3
5
9
12
4
0
12

In [8]:
count = 0 # a number of iterations
n = int(input())
while n != 0:
  if n % 10 == 2 and n % 4 == 0: # '2' at the end and divisible by 4
    count += 1
  n = int(input())
print('Numbers divisible by 4: ', count)

22
45
14
8
62
0
Numbers divisible by 4:  0

In [9]:
my_sum = 0 # a number of iterations
n = int(input())
while n != 0:
  if n % 10 == 2 and n % 4 == 0: # '2' at the end and divisible by 4
    my_sum += n
  n = int(input())
print('The sum of numbers divisible by 43: ', my_sum)

12
3
32
14
0
The sum of numbers divisible by 4:  44

In [11]:
''' разбиение числа на разряды
some number // 10
some number % 10 '''

n = int(input())
while n > 0:
  print(n % 10)
  n //= 10

12345
5
4
3
2
1

In [20]:
# for

for i in 'one', 'two', 'three':
  print(i, end=' ')
for i in 'Python':
  print(i, end=' ')

one two three P y t h o n

In [21]:
n = int(input())
for i in range(n):
  print(i, end=' ')

10
0 1 2 3 4 5 6 7 8 9

In [22]:
n = int(input())
for i in range(2, n):
  print(i, end=' ')

10
2 3 4 5 6 7 8 9

In [23]:
n = int(input())
for i in range(2, n, 2):
  print(i, end=' ')

10
2 4 6 8

In [24]:
n = int(input())
for i in range(n, 2, -2):
  print(i, end=' ')

10
10 8 6 4

In [27]:
# break, continue, pass (do nothing)

for var in 'Python':
  if var == 'h':
    break
  print(var, end='')

Pyt

In [28]:
for var in 'Python':
  if var == 'h':
    continue
  print(var)

P
y
t
o
n

In [30]:
for var in range(5):
  pass # no errors in output

In [10]:
for var in 'Python':
  if var == 'a':
    break
else: # works in case 'break' was used
  print('No such letter in this word (case sensitive)')

No such letter in this word (case sensitive)

In [22]:
# простое число имеет делитель только 1 и само число
# example of nested loop

n = int(input())
for i in range(2, n):
  count = 0
  for j in range(2, i):
    if i % j == 0: # делится без остатка
      count += 1
  if count == 0:
    print(i, end=' ') # выводим на экран простое число

100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [21]:
# optimized code for increased (*3) performance

n = int(input())
for i in range(2, n):
  count = 0
  for j in range(2, int(i ** 0.5) + 1): # ** 0.5 square root
    if i % j == 0: # делится без остатка
      count += 1
      break
  if count == 0:
    print(i, end=' ') # выводим на экран простое число

100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [26]:
n = int(input())
for i in range(2, n):
  if 2 ** (i - 1) % i == 1:
    print(i, end=' ')

100
3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97