<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello', 'World!')
print('При', end='')
print('вет, мир!')

print('One','two','three', sep='---')

print('Example of \'quotes\' in print function.')

print('восход\t04:04\nзакат\t22:30')

print(r'File path: C:\\')

print('''
Example of several
lines print-out''')

Hello World!
Привет, мир!
One---two---three
Example of 'quotes' in print function.
восход	04:04
закат	22:30
File path: C:\\

Example of several
lines print-out

input()

In [2]:
#my_name = input('Enter your name: ')
my_name = 'Ivan'
print('Hello', my_name)
print(type(my_name))
print(id(my_name))

Hello Ivan
<class 'str'>
139827050151728

In [6]:
a = 100
print('id(a):', id(a))

b = a
print('id(b):', id(b))

print(a is b)

b = 200
print('id(new b):', id(b))
print(id(100))

a is b

id(a): 11259232
id(b): 11259232
True
id(new b): 11262432
11259232

False

In [ ]:
a = input()
b = input()
print(type(a))
print(type(b))

100
hundred
<class 'str'>
<class 'str'>

In [ ]:
num = 100_000_000
my_float = 2.5
print(num, my_float)
print(type(num), type(my_float))

100000000 2.5
<class 'int'> <class 'float'>

In [7]:
num_exp = 1.5e2
print(type(num_exp))
print(num_exp)

<class 'float'>
150.0

In [ ]:
my_tuple = 1,2,3
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3)

In [ ]:
my_list = [1, 2, 3]
print(type(my_type))
print(my_list)

<class 'list'>
[1, 2, 3]

In [ ]:
#type conversion
num = 15.3
print(type(num))
print('old type value:', num)

num = int(num)
print(type(num))
print('new type value:', num)

num = str(num)
print(type(num))

<class 'float'>
old type value: 15.3
<class 'int'>
new type value: 15
<class 'str'>

In [ ]:
num_complex = 14 + 1j
print(type(num_complex))
print(num_complex)
print('real:', num_complex.real, '\nimag:', num_complex.imag)

<class 'complex'>
(14+1j)
real: 14.0
imag: 1.0

In [ ]:
a = int(input()) #otherwise it would be text types concatenation
b = int(input())
c = a + b
print(c)
print(type(c))

12
14
26
<class 'int'>

In [ ]:
c = b / a
print(c)
print(b // a)
print(b % a)
print(a * b)
print(a ** b)

1.1666666666666667
1
2
168
1283918464548864

In [ ]:
'''bitwise operations
| addition
& multiplication
>> right shift
<< left shift
~ inversion 
'''
x = 4
y = 3
print(x | y)
print(x & y)
print(x >> 1)
print(x << 1)
print(~x)

7
0
2
8
-5

In [ ]:
a = int(input())
print(a & (a - 1))

1024
0

In [ ]:
a = 100
b = 200
print(a, b)

a, b = b, a
print(a, b)

100 200
200 100

In [ ]:
x = y = 0
print(x, y)
x = 1
print(x, y)
a, b, c = 10, 15, 20
print(a, b, c)

0 0
1 0
10 15 20

In [ ]:
x = y = []
x.append(1)
x.append(2)
print(x, y)

[1, 2] [1, 2]