<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_test_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

bike_rent_data = pd.read_csv('/content/April2021.csv')

bike_rent_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1900,2021-04-01 00:07:25.4780,2021-04-01 00:39:06.0800,3225,Baldwin at Montgomery,40.723659,-74.064194,3225,Baldwin at Montgomery,40.723659,-74.064194,45464,Customer,1970,0
1,236,2021-04-01 00:08:13.9440,2021-04-01 00:12:10.1330,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,38392,Customer,1970,0
2,1047,2021-04-01 00:11:01.4250,2021-04-01 00:28:28.5300,3276,Marin Light Rail,40.714584,-74.042817,3678,Fairmount Ave,40.725726,-74.071959,54268,Customer,1970,0
3,491,2021-04-01 00:15:09.7010,2021-04-01 00:23:20.8380,3202,Newport PATH,40.727224,-74.033759,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42307,Customer,1970,0
4,193,2021-04-01 00:21:05.0750,2021-04-01 00:24:18.2960,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44452,Customer,1970,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23313,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0
23314,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0
23315,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0
23316,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0
23317,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0

In [5]:
len(bike_rent_data['bikeid'].unique())

553

In [9]:
bike_rent_data['tripduration'].mean() / 60

23.219929525116505

In [16]:
round(2021 - bike_rent_data['birth year'].mean())

51

In [20]:
len(bike_rent_data[(bike_rent_data['end station name'] == bike_rent_data['start station name']) == True])

3374

In [30]:
bike_rent_data[bike_rent_data['end station id'].isnull() != False]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [80]:
import numpy as np
bike_rent_data['bikeid'] == bike_rent_data['bikeid']

0        True
1        True
2        True
3        True
4        True
         ...
23313    True
23314    True
23315    True
23316    True
23317    True
Name: bikeid, Length: 23318, dtype: bool

In [76]:
print(bike_rent_data['bikeid'].nunique())
print(len(bike_rent_data['bikeid'].unique()))

553
553

In [7]:
bike_rent_data['bikeid'].describe()
bike_rent_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23318 entries, 0 to 23317
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             23318 non-null  int64
 1   starttime                23318 non-null  object
 2   stoptime                 23318 non-null  object
 3   start station id         23318 non-null  int64
 4   start station name       23318 non-null  object
 5   start station latitude   23318 non-null  float64
 6   start station longitude  23318 non-null  float64
 7   end station id           23318 non-null  int64
 8   end station name         23318 non-null  object
 9   end station latitude     23318 non-null  float64
 10  end station longitude    23318 non-null  float64
 11  bikeid                   23318 non-null  int64
 12  usertype                 23318 non-null  object
 13  birth year               23318 non-null  int64
 14  gender                   23318 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 2.7+ MB

In [11]:
unique_bikeids = bike_rent_data['bikeid'].unique()

In [19]:
import numpy as np

print(type(unique_bikeids))
np.size(unique_bikeids)

<class 'numpy.ndarray'>

553

In [36]:
unique_bikeids = []
for i in range(len(bike_rent_data['bikeid'])):
#  if bike_rent_data.loc[i, 'bikeid'] not in unique_bikeids:
  unique_bikeids.add(bike_rent_data.loc[i, 'bikeid'])
len(unique_bikeids)

553

In [47]:
from collections import Counter
print(*Counter(bike_rent_data['bikeid']).most_common())

(54267, 120) (41618, 115) (46527, 114) (54268, 113) (54255, 106) (54358, 105) (45340, 104) (38392, 97) (54245, 97) (54252, 97) (54248, 97) (54263, 97) (54265, 96) (42363, 95) (42219, 94) (54254, 94) (44721, 90) (54257, 89) (40306, 89) (43380, 89) (45091, 89) (54260, 88) (42120, 88) (54269, 86) (54262, 86) (54264, 86) (42470, 86) (44911, 85) (40697, 85) (54250, 85) (42915, 85) (46226, 85) (54247, 84) (44690, 84) (48932, 84) (40056, 84) (54246, 84) (46935, 83) (44737, 82) (40925, 81) (42277, 81) (48739, 81) (52383, 81) (41703, 80) (49081, 79) (42396, 79) (45198, 77) (42240, 77) (42174, 77) (44236, 77) (46473, 77) (54266, 77) (48740, 76) (42601, 76) (54259, 76) (42343, 76) (34039, 76) (45363, 76) (42160, 75) (54258, 75) (42704, 74) (42674, 74) (45240, 74) (44710, 74) (44358, 74) (42159, 74) (43544, 73) (40308, 73) (44989, 73) (45543, 73) (44381, 72) (38930, 72) (42495, 72) (35159, 72) (43090, 72) (39685, 72) (44392, 71) (35358, 71) (40488, 71) (46465, 71) (42307, 70) (47257, 70) (39407, 70) (45822, 70) (47255, 70) (45959, 69) (42485, 69) (39598, 69) (43352, 69) (46538, 69) (44731, 69) (42890, 69) (38363, 68) (46030, 67) (44191, 67) (46079, 67) (48922, 66) (44556, 66) (32831, 66) (47252, 66) (42423, 66) (44505, 66) (42157, 66) (40168, 66) (44225, 66) (54249, 66) (40858, 65) (45345, 65) (44185, 65) (43206, 65) (54244, 65) (44398, 65) (45014, 64) (45343, 64) (45256, 64) (42837, 64) (39772, 64) (41206, 64) (38595, 64) (48910, 63) (45726, 63) (42249, 63) (39571, 63) (46265, 63) (38641, 63) (40124, 63) (43369, 63) (45278, 62) (42949, 62) (42453, 62) (42195, 62) (46340, 62) (47225, 62) (41620, 61) (42625, 61) (42596, 61) (42150, 61) (29387, 61) (44703, 61) (42825, 60) (54256, 60) (42358, 60) (40756, 60) (46947, 60) (39533, 60) (42300, 60) (42494, 60) (44971, 60) (29814, 59) (54251, 59) (28157, 59) (32349, 59) (40093, 59) (48911, 59) (42205, 59) (40443, 59) (39839, 59) (42422, 59) (39740, 59) (42153, 59) (42593, 58) (46487, 58) (44744, 58) (39260, 57) (38990, 57) (42138, 57) (43467, 57) (48929, 56) (44785, 56) (44059, 56) (28308, 56) (42141, 56) (42105, 56) (48753, 56) (40284, 56) (43803, 56) (24965, 55) (46627, 55) (44333, 55) (41165, 55) (38891, 54) (44723, 54) (40796, 54) (38533, 54) (42191, 54) (44209, 54) (43634, 53) (18808, 53) (43974, 53) (46382, 53) (43798, 53) (42525, 53) (41547, 53) (32095, 53) (45261, 52) (28583, 52) (43637, 52) (34038, 51) (42213, 51) (32598, 51) (44364, 51) (43087, 51) (40741, 51) (45464, 50) (47258, 50) (44283, 50) (40465, 50) (31966, 50) (42371, 50) (39147, 50) (38874, 50) (41962, 49) (42311, 49) (33149, 49) (44241, 49) (44084, 49) (40958, 49) (46472, 48) (43824, 48) (31667, 48) (47198, 48) (33652, 48) (38470, 48) (46537, 48) (40440, 47) (44872, 47) (44576, 47) (46926, 47) (28012, 47) (44916, 47) (42788, 46) (20105, 46) (30009, 46) (45499, 46) (44316, 46) (35095, 46) (32575, 45) (45264, 45) (33321, 45) (42614, 45) (31092, 45) (44664, 44) (42812, 44) (28639, 44) (44422, 44) (31074, 44) (38515, 44) (31483, 44) (44774, 44) (30143, 44) (33361, 44) (38969, 43) (41400, 43) (41854, 43) (44403, 42) (18220, 42) (49257, 42) (32971, 42) (15730, 42) (29731, 42) (42585, 42) (48857, 41) (28551, 41) (44687, 41) (29072, 41) (17231, 41) (41431, 41) (44825, 41) (39329, 41) (45150, 41) (46190, 41) (31244, 41) (32945, 41) (42178, 41) (44682, 40) (45582, 40) (33859, 40) (43332, 40) (31659, 40) (42161, 40) (42257, 40) (30303, 40) (44452, 39) (45713, 39) (45281, 39) (27457, 39) (46946, 39) (43395, 39) (43076, 39) (27705, 38) (42439, 38) (43629, 38) (44165, 38) (39183, 38) (31661, 38) (34048, 38) (41838, 38) (46529, 38) (44968, 38) (26976, 38) (39176, 37) (39055, 37) (42432, 37) (34333, 37) (42354, 37) (16423, 37) (49007, 37) (46410, 37) (38524, 37) (46541, 36) (40975, 36) (38674, 36) (42314, 36) (35097, 36) (42370, 36) (42280, 36) (39391, 36) (42635, 36) (32472, 36) (31287, 35) (30186, 35) (27759, 35) (42230, 35) (34200, 34) (43928, 34) (42340, 34) (24987, 33) (40907, 33) (28874, 33) (43402, 33) (41002, 33) (43361, 33) (34337, 33) (44694, 33) (47019, 32) (25459, 32) (39542, 32) (44920, 32) (42316, 32) (42112, 32) (30247, 32) (45109, 32) (43161, 32) (28367, 31) (32440, 31) (41076, 31) (41336, 31) (41630, 31) (43048, 31) (39738, 31) (29983, 30) (32540, 30) (47256, 30) (28426, 30) (44937, 30) (44787, 30) (27708, 30) (44425, 30) (26989, 30) (31171, 30) (31373, 30) (35230, 30) (42575, 29) (29564, 29) (32531, 29) (39342, 29) (42250, 28) (54253, 28) (40954, 28) (26802, 28) (42147, 28) (33433, 28) (39421, 27) (45354, 27) (42805, 27) (45352, 27) (28433, 27) (33961, 27) (30007, 27) (28186, 26) (30021, 26) (42450, 26) (42582, 26) (15377, 26) (44223, 26) (51127, 26) (28607, 25) (42538, 25) (42342, 25) (40464, 25) (45339, 25) (31496, 25) (34545, 25) (46195, 25) (43416, 24) (48923, 24) (33008, 24) (46530, 24) (44852, 24) (25541, 24) (40988, 24) (40334, 24) (43558, 23) (45255, 23) (42542, 23) (30360, 23) (30619, 23) (33352, 23) (25879, 23) (31242, 22) (42177, 22) (31794, 22) (19209, 22) (27808, 22) (30053, 22) (32579, 22) (28213, 22) (47029, 22) (30630, 22) (45350, 22) (44394, 22) (42580, 22) (26467, 22) (19089, 22) (27312, 21) (40549, 21) (38460, 21) (18063, 21) (17076, 21) (29931, 20) (33567, 20) (43693, 20) (41724, 20) (42308, 20) (53927, 20) (27102, 19) (21488, 19) (42251, 19) (15585, 19) (31321, 19) (42452, 18) (44555, 18) (44762, 18) (45138, 18) (47944, 18) (42155, 17) (29095, 17) (35155, 17) (43139, 17) (46532, 17) (46033, 17) (27479, 16) (31060, 16) (16159, 16) (19107, 16) (32695, 16) (51020, 16) (45940, 15) (42419, 15) (26703, 15) (26321, 15) (27198, 15) (27403, 14) (29727, 14) (27042, 14) (43507, 14) (19916, 14) (36828, 14) (39662, 14) (30680, 13) (46036, 13) (42856, 13) (52157, 13) (50420, 13) (47238, 12) (51536, 12) (32526, 12) (37683, 12) (40285, 12) (42527, 12) (25813, 12) (41967, 12) (29403, 12) (27928, 12) (38139, 11) (43997, 11) (34421, 11) (49866, 11) (36514, 11) (37776, 11) (26469, 10) (44596, 10) (37263, 10) (37807, 10) (44907, 9) (48228, 9) (31503, 9) (26784, 9) (46630, 9) (36692, 9) (55298, 9) (43597, 9) (33564, 8) (28877, 8) (30713, 8) (34354, 8) (29695, 8) (49748, 8) (51344, 8) (28458, 7) (17303, 7) (46929, 7) (33041, 7) (33871, 7) (32048, 7) (26427, 7) (43236, 6) (51327, 6) (17026, 6) (39591, 6) (54261, 5) (28619, 5) (44684, 5) (40053, 5) (32586, 5) (26664, 5) (26061, 5) (26078, 5) (45351, 4) (42574, 4) (42023, 4) (42293, 4) (46856, 4) (44548, 4) (25971, 3) (29832, 3) (46956, 3) (35266, 3) (46141, 2) (42232, 2) (28311, 2) (29913, 2) (48586, 2) (49074, 2) (49224, 2) (40866, 1) (50067, 1) (54270, 1) (40885, 1) (44319, 1) (40847, 1) (49870, 1) (27031, 1)

In [53]:
avg_trip_duration = bike_rent_data['tripduration'].mean()
avg_trip_duration

1393.1957715069902

In [51]:
bike_rent_data['tripduration'] > avg_trip_duration

0         True
1        False
2        False
3        False
4        False
         ...
23313     True
23314     True
23315    False
23316    False
23317    False
Name: tripduration, Length: 23318, dtype: bool

In [56]:
bike_rent_data[['bikeid', 'tripduration']].describe()

             bikeid   tripduration
count  23318.000000   23318.000000
mean   41857.675573    1393.195772
std     7437.217132   10025.471257
min    15377.000000      61.000000
25%    39571.000000     320.250000
50%    42596.000000     579.000000
75%    45345.000000    1221.000000
max    55298.000000  672685.000000

In [64]:
round(bike_rent_data[bike_rent_data['usertype'] == 'Subscriber']['tripduration'].mean(), 2)

749.71

In [65]:
round(bike_rent_data[bike_rent_data['usertype'] == 'Customer']['tripduration'].mean(), 2)

1418.55

In [9]:
bike_rent_data['starttime']

0        2021-04-01 00:07:25.4780
1        2021-04-01 00:08:13.9440
2        2021-04-01 00:11:01.4250
3        2021-04-01 00:15:09.7010
4        2021-04-01 00:21:05.0750
                   ...
23313    2021-04-30 23:55:22.9900
23314    2021-04-30 23:55:50.6830
23315    2021-04-30 23:57:33.1520
23316    2021-04-30 23:59:38.4630
23317    2021-04-30 23:59:43.2470
Name: starttime, Length: 23318, dtype: object

In [7]:
test_hours_of_rent = []
test_hour = bike_rent_data.loc[1, 'starttime']
test_hours_of_rent.append(test_hour)
test_hours_of_rent

['2021-04-01 00:08:13.9440']

In [24]:
hours_of_rent = []

#from datetime import datetime
for i in range(len(bike_rent_data['starttime'])):
  dt_string = bike_rent_data.loc[i, 'starttime'].split()
  hours_of_rent.append(int(dt_string[1].split(':')[0]))
  #hours_of_rent.append(pd.Series(int(dt_string[1].split(':')[0])))

hours_of_rent

#dt_obj = datetime.strptime(bike_rent_data.loc[1, 'starttime'], '%m/%d/%y %H:%M:%S')

#type(bike_rent_data.loc[1, 'starttime'])

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 5,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 ...]

In [27]:
hours_of_rent[100]

15

In [28]:
bike_rent_data['hours of rent'] = hours_of_rent

In [29]:
bike_rent_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,hours of rent
0,1900,2021-04-01 00:07:25.4780,2021-04-01 00:39:06.0800,3225,Baldwin at Montgomery,40.723659,-74.064194,3225,Baldwin at Montgomery,40.723659,-74.064194,45464,Customer,1970,0,0
1,236,2021-04-01 00:08:13.9440,2021-04-01 00:12:10.1330,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,38392,Customer,1970,0,0
2,1047,2021-04-01 00:11:01.4250,2021-04-01 00:28:28.5300,3276,Marin Light Rail,40.714584,-74.042817,3678,Fairmount Ave,40.725726,-74.071959,54268,Customer,1970,0,0
3,491,2021-04-01 00:15:09.7010,2021-04-01 00:23:20.8380,3202,Newport PATH,40.727224,-74.033759,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42307,Customer,1970,0,0
4,193,2021-04-01 00:21:05.0750,2021-04-01 00:24:18.2960,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44452,Customer,1970,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23313,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0,23
23314,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0,23
23315,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0,23
23316,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0,23
23317,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0,23

In [33]:
print(len(bike_rent_data[bike_rent_data['hours of rent'].between(20, 23)]))
print(len(bike_rent_data[bike_rent_data['hours of rent'].between(6, 9)]))
print(len(bike_rent_data[bike_rent_data['hours of rent'].between(16, 20)]))
print(len(bike_rent_data[bike_rent_data['hours of rent'].between(10, 16)]))

8579
414
8086
6637