<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_lesson_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# a collection saves several values in one variable

word = 'hello'
word[0]

'h'

In [ ]:
word = 'hello'
word[int(input())]

-1

'o'

In [ ]:
word = 'hi'
word[1] = 'e' # won't work as string is of immutable kind

TypeError: ignored

In [ ]:
'3.14' in '3.14159'

True

In [ ]:
text = 'Laziness is a programmer\'s best asset'
vowels = 0
for i in text:
  if i in {'a', 'e', 'i', 'o', 'u', 'y'}: # or in 'aeiouy'
    vowels += 1
vowels

11

In [ ]:
text = 'Laziness is a programmer\'s best asset'
vowels = 0
for i in range(len(text)):
  if text[i] in {'a', 'e', 'i', 'o', 'u', 'y'}: # or in 'aeiouy'
    vowels += 1
vowels

11

In [ ]:
'\u2603' # works with Unicode or ASCII

'â˜ƒ'

In [ ]:
for i in range(26):
  print(chr(ord('A') + i), end=' ') # used to convert a character to an integer and vice versa

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
ord('A')

65

In [ ]:
chr(65)

'A'

In [ ]:
n = 99.8 
ns = str(n)
print(ns)
print(type(ns))

99.8
<class 'str'>

In [ ]:
# slices
text = 'Laziness is a programmer\'s best asset'
print(text[:8])
print(text[32:])

Laziness
asset

In [ ]:
text = 'Laziness is a programmer\'s best asset'
text2 = text[:]
text2
print(id(text))
print(id(text2))

text2 += '!'
print(text2)
print(id(text2))

139770642688880
139770642688880
Laziness is a programmer's best asset!
139770643851664

In [ ]:
# methods are unique to their designated objects whereas functions are universal
string = input()
sub_string = input()
position = string.find(sub_string) # find method
while position != -1:
  print(position, end=' ')
  position = string.find(sub_string, position + 1)

something here
e
3 11 13

In [ ]:
''' lists include various types of data
elements could be located in different parts of memory - slower performance than in case of arrays
lists are mutable '''

empty_list = []
print(empty_list)
another_empty_list = list() # turns some collection into a list
print(another_empty_list)
print(type(another_empty_list))
yet_another_empty_list = [None] * 10 # a way to define an empty list
yet_another_empty_list2 = [0] * 10

[]
[]
<class 'list'>

In [ ]:
my_list = ['list', 3.14, 'tuple', 13, 'dict', True, 'set', (2, 1)] # tuples are specified in parentheses ()
print(my_list)

['list', 3.14, 'tuple', 13, 'dict', True, 'set', (2, 1)]

In [ ]:
my_nested_list = [
                  [1, 2, 3],
                  ['Ivan', 'Joe', 'Macy']
]
print(my_nested_list)
print(len(my_nested_list))

[[1, 2, 3], ['Ivan', 'Joe', 'Macy']]
2

In [ ]:
print(my_list[1])
print(my_nested_list[1][0]) # inner element comes before outer one

3.14
Ivan

In [ ]:
my_list[2] = 'frozenset'
print(my_list)
print('tuple' in my_list)
print('dict' in my_list)

['list', 3.14, 'frozenset', 13, 'dict', True, 'set', (2, 1)]
False
True

In [ ]:
# common functions for lists

num_list = [1, 2, 8, 10, -5, 88]
print(sum(num_list))
print(min(num_list))
print(max(num_list))

104
-5
88

In [1]:
# common methods for lists

num_list = [1, 2, 8, 10, -5, 88]
num_list.append(0)
print(num_list)

num_list.append(input())
print(num_list)

num_list.append([0, 1, 3])
print(num_list)

[1, 2, 8, 10, -5, 88, 0]
foo
[1, 2, 8, 10, -5, 88, 0, 'foo']
[1, 2, 8, 10, -5, 88, 0, 'foo', [0, 1, 3]]

In [ ]:
# list sorting

num_list = [1, 2, 8, 10, -5, 88]
num_list.sort() # method changes our list
print(num_list)

num_list = [1, 2, 8, 10, -5, 88]
num_list2 = sorted(num_list) # function does NOT change our list, as we assign the result to a new list
print(num_list2)

[-5, 1, 2, 8, 10, 88]
[-5, 1, 2, 8, 10, 88]

In [ ]:
num_list = [1, 2, 8, 10, -5, 88]
num_list2 = num_list[:] # makes a copy of our list

In [ ]:
a = ['list', 'tuple', 'dict', 'set']
print(sorted(a))
print(sorted(a, key=len, reverse=True)) # sorts according to length of elements

['dict', 'list', 'set', 'tuple']
['tuple', 'list', 'dict', 'set']

In [ ]:
def no_print(x): # on the contrary, lambda is a shorhand notation for a simple function
  print('***')

no_print(2)

***

In [ ]:
a = [['Jan', 1], ['Jan', 2], ['Feb', 7], ['Mar', 10]]
sorted(a, key=lambda x: (x[0], x[1]))

[['Feb', 7], ['Jan', 1], ['Jan', 2], ['Mar', 10]]

In [ ]:
from operator import itemgetter
a = [['Jan', 1], ['Jan', 2], ['Feb', 7], ['Mar', 10]]
sorted(a, key=itemgetter(0, 1))

[['Feb', 7], ['Jan', 1], ['Jan', 2], ['Mar', 10]]

In [ ]:
from random import randint
num = []
for i in range(20):
  num.append(randint(1, 100))
print(num, end=' ')

[15, 44, 44, 13, 96, 75, 80, 12, 94, 79, 12, 63, 83, 31, 25, 39, 45, 64, 18, 95]

In [ ]:
# split method for STRINGS

my_string = input().split() # sep in parentheses after split
print(my_string)

1 2 3 4 5 True foo
['1', '2', '3', '4', '5', 'True', 'foo']

In [ ]:
# converting strings into integers using a for loop
my_string = input().split()
for i in range(len(my_string)):
  my_string[i] = int(my_string[i])
print(my_string)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
# joining LIST elements into a string

my_string = input().split('-') # sep in parentheses after split
print(my_string)

'-'.join(my_string)

ho-ho-ho
['ho', 'ho', 'ho']

'ho-ho-ho'

In [ ]:
# tuples are IMMUTABLE lists

empty_tuple = ()
print(empty_tuple)

empty_tuple = tuple()

my_tuple = (1, 2, 3, 4)
print(my_tuple)
my_tuple[2]

()
(1, 2, 3, 4)

3

In [ ]:
a = 1, 2
type(a)

tuple

In [ ]:
a = 1, # creating 1-element tuple
type(a)

tuple