<a href="https://colab.research.google.com/github/ib1905/MIPT_Python_professional_development_program/blob/main/Python_test_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# log2 (1000) â‰ˆ 10

In [ ]:
# initial list = 23 7 14 36 19 4 11 27 9
# after bubble sort N-length swapping: 3) 7 14 23 19 4 11 27 9 36

In [ ]:
# unsorted list = 1 4 2 1 3 5 0 3 1 6 0 2 4 5 3 1 2 3 4 7 3 2 7 9 2
# counting sort additional list key 4 value is 3

In [ ]:
string1 = '1 3 5 8 9 16 18 21 26 29 36 41 48'
string2 = '3 8 15 21 21 23 23 27 27 27 29 36 41 44 51 56 62 63 70'
string3 = '7 7 12 12 15 18 24 24 31 35 41 42 47 51 57 63 63'

list1 = list(map(int, (string1.split())))
list2 = list(map(int, (string2.split())))
list3 = list(map(int, (string3.split())))

print(list1)
print(list2)
print(list3)

print(*sorted(list1 + list2 + list3))

[1, 3, 5, 8, 9, 16, 18, 21, 26, 29, 36, 41, 48]
[3, 8, 15, 21, 21, 23, 23, 27, 27, 27, 29, 36, 41, 44, 51, 56, 62, 63, 70]
[7, 7, 12, 12, 15, 18, 24, 24, 31, 35, 41, 42, 47, 51, 57, 63, 63]
1 3 3 5 7 7 8 8 9 12 12 15 15 16 18 18 21 21 21 23 23 24 24 26 27 27 27 29 29 31 35 36 36 41 41 41 42 44 47 48 51 51 56 57 62 63 63 63 70

In [ ]:
# correct variant for Y.Contest

list1 = list(map(int, (input().split())))
list2 = list(map(int, (input().split())))
list3 = list(map(int, (input().split())))

print(*sorted(list1 + list2 + list3))

In [ ]:
my_list = []

for _ in range(int(input())):
  my_string = input()
  my_list.append(my_string)

#print(my_list)

print(*sorted(my_list), sep='\n')

9
lavender 1
fuchsia 1
orchid 2
orchid 3
fuchsia 2
orchid 1
lavender 2
orchid 4
purple 1
['lavender 1', 'fuchsia 1', 'orchid 2', 'orchid 3', 'fuchsia 2', 'orchid 1', 'lavender 2', 'orchid 4', 'purple 1']

fuchsia 1
fuchsia 2
lavender 1
lavender 2
orchid 1
orchid 2
orchid 3
orchid 4
purple 1

In [ ]:
# initial sequence: 6762 6374 992 663 8384 66 92 118 9 553 7272 7379 773 839
# correct asnwer is: 1) 6762 992 92 7272 663 553 773 6374 8384 66 118 9 7379 839

In [26]:
import datetime

a = input().split()

my_date = a[0].split('.')
my_time = a[1].split(':')
my_date = list(map(int, my_date))
my_time = list(map(int, my_time))

print(*my_date)
print(*my_time)

my_date[0], my_date[-1] = my_date[-1], my_date[0]

my_datetime = my_date + my_time
print(my_datetime)

current_datetime = datetime.datetime(*my_datetime)
print(current_datetime)

06.02.2022 23:56
6 2 2022
23 56
[2022, 2, 6, 23, 56]
2022-02-06 23:56:00

In [31]:
days, hours, minutes = map(int,(input().split()))

6 0 15

In [36]:
change_in_datetime = datetime.timedelta(days = days, hours = hours, minutes = minutes)
print(change_in_datetime)
new_datetime = current_datetime + change_in_datetime
print(new_datetime)

6 days, 0:15:00
2022-02-13 00:11:00

In [42]:
print(new_datetime.strftime('%d.%m.%Y %H:%M'))

13.02.2022 00:11

In [43]:
# putting the above all together

import datetime

a = input().split()

my_date = a[0].split('.')
my_time = a[1].split(':')
my_date = list(map(int, my_date))
my_time = list(map(int, my_time))

#print(*my_date)
#print(*my_time)

my_date[0], my_date[-1] = my_date[-1], my_date[0]

my_datetime = my_date + my_time
#print(my_datetime)

current_datetime = datetime.datetime(*my_datetime)
#print(current_datetime)

days, hours, minutes = map(int,(input().split()))

change_in_datetime = datetime.timedelta(days = days, hours = hours, minutes = minutes)
#print(change_in_datetime)
new_datetime = current_datetime + change_in_datetime
#print(new_datetime)

print(new_datetime.strftime('%d.%m.%Y %H:%M'))

06.02.2022 23:56
6 0 15
13.02.2022 00:11

In [44]:
import datetime

datetime1 = datetime.datetime(2022, 10, 1, 2, 24)
datetime2 = datetime.datetime(2022, 10, 11, 20, 44)
print(datetime2 - datetime1)

10 days, 18:20:00